\column { 
{{ sloha[0] }}
\hspace #0.1 % adds vertical spacing between verses 
{{ sloha[1] }}
}

 
\hspace #0.1 % adds horizontal spacing between columns; 
% if they are still too close, add more " " pairs 
% until the result looks good 
\column { 
{{ sloha[2] }}
}
