\documentclass[a4paper]{book}
\usepackage[paper=a4paper]{geometry}% Just for this example
\title{Spevník piesní z regiónu Stredné Považie}
\begin{document}
\maketitle
\begin{center}

{{ completed }}

\end{center}
\end{document}
